/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.title-decor {
  color: var(--decor-title-color);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-text);
  background-color: var(--accent-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/* HEADER */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  margin-block-end: 40px;
}

.header__rec {
  display: var(--rec-display);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 28px;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  border: 1px solid transparent;
  color: var(--decor-color);
  background-color: transparent;
  font-size: var(--font-size);
  line-height: var(--line-height-regular);
  text-transform: lowercase;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button_active {
  border-color: var(--decor-color);
  pointer-events: none;
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  align-self: center;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 10px;
  margin-block-end: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-text);
}

.section__subtitle {
  font-size: var(--font-size);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title_type_regular {
  font-weight: var(--font-weight-regular);
}

.card__text {
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: var(--line-height-text);
}

/* GALLERY */

.pictures__title {
  margin-block-end: 10px;
}

.pictures__list {
  display: grid;
  gap: 10px;
}

.pictures__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* FOOTER */

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header {
    padding: 20px;
    margin-block-end: 60px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 38px;
  }

  .header__theme-menu {
    margin-block-start: 192px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    justify-self: end;
    inline-size: min(364px, 50vw - 20px);
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    margin-block-end: 60px;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    grid-column: 1 / 2;
  }

  .section__subtitle {
    grid-column: 2 / 3;
  }

  .section__list {
    grid-column: 2 / 3;
  }

  .section_why .section__title {
    margin-block-start: 20px;
  }

  .section_why .section__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section_why .section__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures__title {
    margin-block-end: 20px;
  }

  .pictures__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .pictures__list-item_sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .pictures__list-item_ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .pictures__list-item_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .pictures__list-item_books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .pictures__list-item_street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .link:hover {
    text-decoration: underline;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 20px;
    margin-inline-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button:hover {
    border-color: var(--accent-color-hover);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-color: transparent;
    border-block-end: 1px solid var(--decor-color);
  }

  .header__title {
    justify-self: start;
    margin-block-start: 91px;
    margin-block-end: 56px;
  }

  .header__paragraph {
    align-self: start;
    margin-block-start: 0;
  }

  .section_why .section__list {
    grid-column: 2 / -1;
    grid-template-columns: repeat(3, 1fr);
  }

  .section:not(.section_why) .section__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section:has(.section__subtitle) .section__subtitle {
    grid-column: 2 / -1;
  }

  .section:has(.section__subtitle) .section__list {
    grid-column: 2 / -1;
  }
}
